# Node.js
node_modules/
npm-debug.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml

# IDEs & Editors
.vscode/

# Env/config files
.env

# Misc
tmp/
temp/

# Allure results and reports
allure-results/
allure-report/

#Auth
storage/